.skill{
    width: 100%;
    height: 500px;
    background-color: #031540;
}
.sub-tittle{
    color: #fff;
    text-align: center;
}
.sub-tittle span{
    color: #00abf0;
}
/* skill section */
.progress {
    width: 100%;
    height: 8px !important;
    background-color: rgb(104, 104, 104) !important;


}

.progress-bar {
    width: 0%;
    position: relative;
    height: 100%;
    background-color:#00abf0 !important;
    transition: 1s all !important;
    opacity: 1 !important;
}

.hp {
    transition: 1s all !important;
    opacity: 0 !important;
    width: 0 !important;
}
h6, p{
    color: #fff !important;
}